# Question 1
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(intg):
    digit = reversdigit = 0
    remNum = intg
    while(remNum != 0):
        digit = remNum % 10
        
        reversdigit = reversdigit * 10 + digit
        print('Reversed Digit: ', reversdigit)
        remNum = remNum // 10
    
    if reversdigit == intg:
        print(True, f': intg {intg} is symmetrical')
    else:
        print(False,f': intg {intg} is not symmetrical')

In [2]:
is_symmetrical(7227)

Reversed Digit:  7
Reversed Digit:  72
Reversed Digit:  722
Reversed Digit:  7227
True : intg 7227 is symmetrical

In [3]:
is_symmetrical(12567)

Reversed Digit:  7
Reversed Digit:  76
Reversed Digit:  765
Reversed Digit:  7652
Reversed Digit:  76521
False : intg 12567 is not symmetrical

In [4]:
is_symmetrical(44444444)

Reversed Digit:  4
Reversed Digit:  44
Reversed Digit:  444
Reversed Digit:  4444
Reversed Digit:  44444
Reversed Digit:  444444
Reversed Digit:  4444444
Reversed Digit:  44444444
True : intg 44444444 is symmetrical

In [5]:
is_symmetrical(9939)

Reversed Digit:  9
Reversed Digit:  93
Reversed Digit:  939
Reversed Digit:  9399
False : intg 9939 is not symmetrical

In [6]:
is_symmetrical(1112111)

Reversed Digit:  1
Reversed Digit:  11
Reversed Digit:  111
Reversed Digit:  1112
Reversed Digit:  11121
Reversed Digit:  111211
Reversed Digit:  1112111
True : intg 1112111 is symmetrical

# Question 2
# Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [7]:
def multiply_nums(strg):
    strg = strg.replace(" ", "")
    strg = strg.split(",")
    sumation = 1
    for i in strg:
        sumation = sumation * int(i)
    return sumation

In [8]:
multiply_nums('2, 3')

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

# Question 3
# Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

# Notes

The function receives an integer and must return an integer.

In [12]:
def square_digits(intg):
    z = ''.join(str(int(i)**2) for i in str(intg))
    return int(z)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

# Question 4
# Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [16]:
def setify(lst):
    l1 = []
    for i in set(lst):
        l1.append(i)
    return l1

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
# Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

# Notes

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [21]:
def mean(n):
    N = len(str(n))
    sumation = mean = 0
    
    for i in str(n):
        sumation = sumation + int(i)
    return int(sumation/N)

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6